.content {
  padding: 32px 12%;
}

mat-card {
  background-color: #252635;
  background-size: cover;
  border-top: 5px solid #ffcc00;
  color: white;
}

mat-card-actions p {
  text-align: center;
}

mat-card-content p {
  text-align: center;
  font-size: 10pt;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  font-weight: 500;
}

button {
  width: 40%;
  height: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12pt;
  background: #ffcc00;
  border: none;
  border-radius: 5px;
  color: #252635;
  text-decoration: none;
}

button:hover {
  background: #ffe17c;
  transition: 0.3s; 
  cursor: pointer; 
}