<div class="content">

      <div fxLayout="row wrap" fxLayoutGap="32px grid">
         <div fxFlex="20%" *ngFor="let movie of movies | async" id="{{movie.title}}">
            <mat-card class="movie-card">
               <mat-card-header>
                  <mat-card-title>{{movie.title}}</mat-card-title>
               </mat-card-header>
               <img mat-card-image src="{{movie.imageUrl}}" alt="Photo of {{movie.title}}">
               <mat-card-content>
                  <p>{{movie.plot}}</p>
               </mat-card-content>
               <mat-card-actions>
                  <p>
                     <button (click)="movieService.getMovieId(movie.movieId)" [routerLink]="['/movies', movie.movieId]">Details</button>
                  </p>
               </mat-card-actions>
            </mat-card>
         </div>
      </div>
      
</div>