<mat-toolbar id="header">

  <span id="logo" routerLink="/">SMDb</span>

  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/movies">Movies</a></li>
  <li><a routerLink="/add-movie">Add Movie</a></li>

  <div *ngIf="!isAuth" fxLayout>
    <li><a routerLink="/login">Log In</a></li>
    <div class="vert-line"></div>
    <li><a routerLink="/signup">Sign Up</a></li>
  </div>

  <div *ngIf="isAuth" fxLayout>
    <li><a routerLink="/login">Profile</a></li>
    <div class="vert-line"></div>
    <li><a (click)="onLogout()">Log Out</a></li>
  </div>
  
</mat-toolbar>