#header {
   background-color: #252635;
   color: white;
   margin: auto;
   justify-content: space-evenly;
   height: 48px;
}

#logo {
   color: #ffcc00;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 24pt;
   cursor: pointer;
}

li {
   list-style: none;
   padding: 0;
   margin: 0;
}

.vert-line {
   display: inline;
   margin: 0 14px;
   border: 1px solid #ffcc00;
   border-radius: 1px;
}

a {
   font-weight: 500;
   color: white;
   text-decoration: none;
}

a:hover {
   color: #ffcc00;
   transition: 0.3s;  
}