.bgr {
   height: 84.8vh;
   background-image: url('../../../assets/retro-camera-wake.jpg');
   background-size: cover;
}

.box {   
   margin: auto;
   max-width: 64%;
   border-radius: 20px;
   background-color: #131422;
   border: 1px solid #ffcc00;
   opacity: 75%;
}

p {
   text-align: center;
   margin: auto;
   padding: 32px;
   max-width: 64%;
   color: white;
   font-weight: 500;
}