/* You can add global styles to this file, and also import other style files */

html, #container { 
   position: relative; 
   min-height: 100vh; 
}

body { 
   margin: auto;
   font-family: Roboto, "Helvetica Neue", sans-serif; 
   background-color: #131422;

}

#wrap {
   padding-bottom: 92px;
}